* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    user-select: none;
    --primary-color: #414656;
    --delete-color: #E54771;
    --delete-color-text: white;
    --numbers-color: #E4F0FF;
    --numbers-color-text: #414656;
    --operation-color: #00C9E7;
    --clear-color: #00C9E7;
    --clear-color-text: white;
    --operation-color-text: white;
}

#header {
    height: 100px;
    background-color: #414656;
    margin-bottom: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    
}

#clearButton {
    flex: 1;
    background-color:var(--clear-color);
    color: var(--clear-color-text);
    border-radius: 15px;
    font-size:150%;
    font-weight: bold;
    padding: 15px 10px;
    margin: 5px 5px;
    align-items: center;
    justify-content: center;
    display: flex;
}

#deleteButton {
    flex: 1;
    background-color:var(--delete-color);
    color: var(--delete-color-text);
    border-radius: 15px;
    font-size:150%;
    font-weight: bold;
    padding: 15px 10px;
    margin: 5px 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 9%;
}

#clearAndDeleteButtons {
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: .75;
}

#calculatorContainer {
    display: flex;
    margin: auto;
    min-width: 300px;
    width: 35vw;
    height: 45vw;
    max-height: 1100px;
    max-width: 850px;
    min-height: 450px;
    box-sizing: border-box;
    background-color: var(--primary-color);
    padding: 1.5% 1.5%;
    flex-wrap: wrap;
    border-radius: 20px;
    flex-direction: column;
}

#buttonAndOperationsContainer {
    display: flex;
    box-sizing: border-box;
    flex: 4;
    padding-top: 1%;
    padding-bottom: -1%;
}

#displayContainer {
    display: flex;
    background-color: white;
    flex: 1;
    padding-right: 4%;
    justify-content: center;
    align-items: flex-end;
    border-radius: 15px;
    flex-direction: column;
}

#displayContainer >div {
margin: 5px 0px;
}

#output {
    font-size: calc(12px + 1vw);
    font-weight: bolder;
    
}

#operationButtonContainer {
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    
}

#operationButtonContainer > div{
    flex: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color:var(--operation-color);
    color: var(--operation-color-text);
    border-radius: 15px;
    margin-bottom: 8px;
    font-size: 250%;
    font-weight: bold;   
}

#operationButtonContainer >div:hover {
    cursor: pointer;
    user-select: none;
    background-color: white;
    color: #00D7FF;
}

#buttonContainer > #blankDiv {
    background-color: var(--primary-color);
}

#buttonContainer > div {
    flex-basis: 31%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--numbers-color);
    color: var(--numbers-color-text);
    border-radius: 15px;
    margin-bottom: 10px;
    font-size:250%;
    font-weight: bold;
}

#clearButton:hover {
    cursor: pointer;
    user-select: none;
    background-color: #48e5ff;
    color: white;
}

#deleteButton:hover {
    cursor: pointer;
    user-select: none;
    background-color: #ff4f84;
    color: white;
}

#buttonContainer > div:hover {
    cursor: pointer;
    user-select: none;
    background-color: #48e5ff;
    color: white;
}

#buttonContainer {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 10px;
}


@media screen and (max-width: 992px) {
    #calculatorContainer {
        padding: 3%;
    }
}
